button.download{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 8px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: white;
    color: white;
    background-color: #d321d3;
}
button.download:hover{
    background-color: #975faf;
    color: white;
}
p{
    margin:5px;
}
p.release-name{
    font-size: small;
}
p.release-info{
    font-size: medium;
    margin:15px
}
div.dlbtn{
    padding: 10px 40px;
}
div.header{
    text-align: center;
}
body{
    font-family: 'NanumSquare', sans-serif;
    background-color: black;
    color: white;
}
h1{
    margin: 2px;
}
