::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #505050;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #606060;
}
button.download{
    border: none;
    text-decoration: none;
    font-size: 1.7em;
    margin: 8px 2px;
    padding:0;
    background-color: #d321d3;
}
button.download:hover{
    background-color: #c64bc6;
    color: white;
}
button{
    margin-left: 10px;
    padding:10px;
    text-align: center;
    color: white;
    background: none;
    border: 2px solid white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
button:hover{
    background-color: white;
    color: black;
}
p{
    margin:5px;
    font-size: 1.1em;
}
p.release-info{
    padding:15px;
    font-size: 1em;
}
p.release-name{
    font-size: 0.54em;
}
div.dlbtn{
    padding: 10px 40px;
}
div.header{
    text-align: center;
}
body{
    font-family: 'NanumSquare', sans-serif;
    background-color: black;
    color: white;
    margin:0;
}
pre{
    font-family: 'NanumSquare', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin:20px;
}
a{
    color:#d321d3;
    text-decoration: none;
}
h1{
    margin: 2px;
    font-size: 2.5em;
}
div.content{
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color:#181818;
    text-align: left;
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
}
div.footer{
    /* position: fixed; */
    /* background-color: white; */
    box-sizing: border-box;
    width: 100%;
    margin:0;
    padding:10px;
    text-align: center;
    background-color: #190519;
    left: 0;
    top: 0;
    color: #544054;
    text-align: center;
}
table.table-downloads{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding:10px;
    border-bottom: 1px solid #333333;
}
